{% extends layout %}

{% block title %}List of authors - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="text-center">List of authors</h1>

    {% if authors is empty %}s
        <div class="important">There is no authors</div>
    {% else %}
        <ul class="list-unstyled">
            {% for author in authors %}
                <li class="col-md-6">
                    {% block author %}
                        <div class="author thumbnail text-center">
                            <h3><a href="/author/{{ author.id }}">{{ author.name }}</a></h3>
                            <span class="drop text-left">
                                <ul class="nav nav-pills nav-stacked">
                                    {% for book in author.books %}
                                        <li><a href="/book/{{ book.id }}">{{ book.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </span>
                        </div>
                    {% endblock %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}