{% extends layout %}

{% block title %}{{ book.title }} - {{ parent() }}{% endblock %}

{% block content %}
    <article>
        <h1 class="text-center">{{ book.title }}</h1>

        <dl class="dl-horizontal">
            <dt>Author</dt>
            <dd><a href="/author/{{ book.authorID }}">{{ book.author }}</a></dd>
            <dt>Category</dt>
            <dd><a href="/category/{{ book.categoryID }}">{{ book.category }}</a></dd>
            <dt>Description</dt>
            <dd>
                <blockquote>{{ book.description }}</blockquote>
            </dd>
        </dl>
    </article>
{% endblock %}