{% extends layout %}

{% block title %}List of categories - {{ parent() }}{% endblock %}

{% block content %}
    <h1>List of categories</h1>

    {% if categories is empty %}
        <div class="important">There is no categories</div>
    {% else %}
        <ul>
            {% for category in categories %}
                <li class="col-md-6">
                    {% block category %}
                        <div class="thumbnail text-center">
                            <a href="/book/{{ category.id }}">
                                <img src="/{{ category.image }}" alt="{{ category.title }}"/>
                            </a>

                            <h2 class="title"><a href="/book/{{ category.id }}">{{ category.title }}</a></h2>

                            <div><a href="/author/{{ category.authorID }}">{{ category.author }}</a></div>
                        </div>
                    {% endblock %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}